<div class="container" style="overflow-y: auto;">
    <div hx-get="/static/view/login/login_form.html" hx-trigger="load" hx-swap="innerHTML"></div>
    <div class="row mb-4"></div>
    <div class="row mb-4">
        <div class="col text-center">
            <p>Does't have account yet?</p>
        </div>
    </div>
    <div class="text-end">
        <button type="button" class="btn btn-info btn-block mb-4" hx-get="/static/view/register.html" hx-trigger="click"
            hx-swap="innerHTML" hx-target="#app">go Register</button>
    </div>
</div>
<script type="module" src="/static/view/login/login.js"></script>