<div class="p-4 g-col-6"></div>
<form id="loginForm" method="post">
    <div hx-get="/static/template/email_and_password.html" hx-trigger="load" hx-swap="innerHTML"></div>
    <div class="row mb-4">
        <div class="col">
            <a href="" id="forgetPassword" hx-get="/static/view/login/recover_password.html" hx-trigger="click"
                hx-swap="innerHTML" hx-target="#app">Forgot password?</a>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" id="submit" class="btn btn-primary bi bi-box-arrow-in-right"> Login</button>
    </div>
</form>
<script type="module" src="/static/view/login/login_form.js"></script>