<button class="btn btn-primary" hx-get="/static/view/login/login.html" hx-trigger="click" hx-swap="innerHTML"
    hx-target="#app">
    Login <i class="bi bi-box-arrow-in-right"></i>
</button>
<div class="row mb-4"></div>
<div class="row mb-4"></div>
<p>Create a new account by register✍️</p>
<button type="button" class="btn btn-info btn-block mb-4" hx-get="/static/view/register/register.html"
    hx-trigger="click" hx-swap="innerHTML" hx-target="#app">
    Register Now <i class="bi bi-pen-fill"></i>
</button>