<div class="container" style="overflow-y: auto;">
    <form>
        <div class="text-center">
            <div class="p-4 g-col-6"></div>
            <h3>Login</h3>
            <div class="p-4 g-col-6"></div>
        </div>
        <div class="form-floating mb-4">
            <input type="email" id="email" class="form-control" />
            <label class="form-label" for="email">Email address</label>
        </div>

        <div class="form-floating mb-4">
            <input type="password" id="password" class="form-control" />
            <label class="form-label" for="password">Password</label>
        </div>

        <div class="row mb-4">
            <div class="col">
                <a href="#!">Forgot password?</a>
            </div>
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-primary btn-block mb-4" id="submit">Sign in</button>
        </div>

        <div class="row mb-4"></div>
        <div class="row mb-4">
            <div class="col text-center">
                <p>Does't have account yet?</p>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-info btn-block mb-4" hx-get="/static/view/register.html"
                hx-trigger="click" hx-swap="innerHTML" hx-target="#app">go Register</button>
        </div>
    </form>

</div>