<div class="container" style="overflow-y: auto;">
    <form>
        <div class="text-center">
            <div class="p-4 g-col-6"></div>
            <h3>Register</h3>
            <div class="p-4 g-col-6"></div>
        </div>
        <div class="form-floating mb-4">
            <input type="text" id="name" class="form-control" />
            <label class="form-label" for="name">User name</label>
        </div>
        <div class="form-floating mb-4">
            <input type="email" id="email" class="form-control" />
            <label class="form-label" for="email">Email address</label>
        </div>
        <hr>
        <div class="form-floating mb-4">
            <input type="password" id="password" class="form-control" />
            <label class="form-label" for="password">Password</label>
        </div>
        <div class="form-floating mb-4">
            <input type="password" id="confirmpw" class="form-control" />
            <label class="form-label" for="confirmpw">Confirm Password</label>
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" hidden>
            <div id="alertText">Message</div>
            <button type="button" class="btn-close" onclick="document.querySelector('.alert').hidden=true"></button>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary btn-block mb-4" id="submit" data-bs-toggle="modal"
                data-bs-target="#loadingDialog">Register</button>
        </div>
    </form>
    <div class="modal fade" id="loadingDialog" tabindex="-1" data-bs-backdrop="true" data-bs-keyboard="true"
        role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="loadingMessage">驗證電子郵件中，請稍後並不要關閉瀏覽器...</h3>
                </div>
                <div class="modal-body text-center">
                    <button type="button" id="returnHome" class="btn btn-primary" hidden>關閉</button>
                </div>
                <div class="modal-footer float-start ">
                </div>
            </div>
        </div>
    </div>
</div>