<div class="container" style="overflow-y: auto;">
    <div class="row mb-4"></div>
    <div hx-get="/static/dependencies/bootstrap-htmx/template/home_btn.html" hx-trigger="load" hx-swap="outerHTML">
    </div>
    <div class="row mb-4"></div>
    <div class="row mb-4">
        <h2>Input your Password</h2>
    </div>
    <form id="checkPassword">
        <div hx-get="/static/dependencies/bootstrap-htmx/template/password.html" hx-trigger="load" hx-swap="outerHTML">
        </div>
        <script type="module" src="/static/dependencies/bootstrap-htmx/form/password/password.js"></script>
        <div class="text-center">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
    <div id="setPassword" hx-get="/static/view/setting/set_password.html" hx-trigger="loadPage" hx-swap="innerHTML"
        hx-target="#app"></div>
</div>

<script>
    (() => {
        document.querySelector('#checkPassword').addEventListener('submit', (e) => {
            e.preventDefault()
            const hxPage = '#setPassword'
            htmx.trigger(hxPage, 'loadPage')
            htmx.process(document.querySelector('#app'))
        })
    })()
</script>