<div class="container" style="overflow-y: auto;">
    <div hx-get="/static/dependencies/bootstrap-htmx/template/home_btn.html" hx-trigger="load" hx-swap="outerHTML">
    </div>
    <div class="row mb-4"></div>
    <div class="row mb-4">
        <h2>Update Password</h2>
    </div>
    <form id="passwordForm">
        <div hx-get="/static/dependencies/bootstrap-htmx/template/confirm_password.html" hx-trigger="load"
            hx-swap="outerHTML">
            <script type="module" src="/static/dependencies/bootstrap-htmx/form/password/confirm_password.js"></script>
        </div>
        <div class="text-center">
            <input type="submit" value="Update" class="btn btn-primary">
        </div>
    </form>

</div>
<script>
    (() => {
        document.querySelector('#passwordForm').addEventListener('submit', (e) => {
            e.preventDefault()
            console.log('update password')
        })
    })()
</script>