<form id="userform">
    <div class="form-floating mb-4">
        <input type="text" id="name" name="Name" class="form-control" />
        <label class="form-label" for="name">User Name</label>
    </div>
    <div class="form-floating mb-4">
        <input type="text" id="bio" name="Bio" class="form-control" />
        <label class="form-label" for="bio">Bio</label>
    </div>
    <div class="float-end">
        <button type="submit" id="submit" class="btn btn-primary btn-block mb-4">Update</button>
    </div>
</form>
<script type="module" src="/static/view/setting/setting_bio_form.js"></script>