<div class="p-4 g-col-6"></div>
<form method="post" id="registerForm">
    <div class="form-floating mb-4">
        <input type="text" id="name" name="Name" class="form-control" />
        <label class="form-label" for="name">User name</label>
    </div>
    <div class="form-floating mb-4">
        <input type="text" id="email" name="Email" class="form-control" />
        <label class="form-label" for="email">Email address</label>
    </div>
    <hr>
    <div class="input-group mb-3">
        <div class="form-floating mb-4">
            <input type="password" id="password" name="Password" class="form-control" aria-describedby="showPsw" />
            <label class="form-label" for="password">Password</label>
        </div>
        <span><button type="button" id="showPsw" class="btn bi bi-eye-slash-fill"
                style="font-size: 2rem;"></button></span>
    </div>
    <div class="input-group mb-3">
        <div class="form-floating mb-4">
            <input type="password" id="confirmpw" name="ConfirmPw" class="form-control"
                aria-describedby="showConfirmPsw" />
            <label class="form-label" for="confirmpw">Confirm Password</label>
        </div>
        <span><button type="button" id="showConfirmPsw" class="btn bi bi-eye-slash-fill"
                style="font-size: 2rem;"></button></span>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" hidden>
        <div id="alertText">Message</div>
        <button type="button" class="btn-close" onclick="document.querySelector('.alert').hidden=true"></button>
    </div>
    <div class="text-center">
        <button type="submit" id="submit" class="btn btn-primary btn-block mb-4" id="submit">Register<i class="bi bi-pen-fill"></i>
        </button>
        <div id="wait" hidden>Verifying email address...<i class="bi bi-hourglass-split"></i></div>
    </div>
</form>
<script type="module" src="/static/view/register/register_form.js"></script>