<div class="modal fade" id="loadingDialog" tabindex="-1" data-bs-backdrop="true" data-bs-keyboard="true" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p id="loadingMessage">Verifying email, please wait and don't close browser</p>
            </div>
            <div class="modal-body text-center">
                <button type="button" id="returnHome" class="btn btn-primary">Close</button>
            </div>
            <div class="modal-footer float-start ">
            </div>
        </div>
    </div>
</div>